.f16 {
  font-size: 16px;
  font-weight: normal;
  color: #303030;
}

html body .c_brand {
  color: #03A89E;
}

html body .list_item .list_right .quote {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 5px;
}

.text-right {
  text-align: right;
}

#Footer a {
  color: white;
}

#Footer a:hover {
  color: black;
}

ul.footer_links {
  margin: 0;
  font-size: 14px;
}


#Footer .footer_copy {
  background-color: #017e77;
  color: white;
}

.footer-copy-center #Footer .footer_copy .copyright {
  margin: 0;
  padding: 20px 0;
}

h4.color_dark_black{
  color: #303030;
}

.pricing_style .plan-header .price sup.currency {
  font-size: 28px;
  line-height: 28px;
}

.pricing_style .plan-header .price > span {
  font-size: 60px;
  line-height: 1;
}

#Top_bar .menu>li>a {
  color: #03A89E;
  font-size: 16px;
  font-weight: normal;
}
